In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

In [39]:
df = pd.read_csv("/Users/elkott/factoring-risk-scorer/data/raw/invoices.csv")
df.head()

,countryCode,customerID,PaperlessDate,invoiceNumber,InvoiceDate,DueDate,InvoiceAmount,Disputed,SettledDate,PaperlessBill,DaysToSettle,DaysLate
0,391,0379-NEVHP,4/6/2013,611365,1/2/2013,2/1/2013,55.94,No,1/15/2013,Paper,13,0
1,406,8976-AMJEO,3/3/2012,7900770,1/26/2013,2/25/2013,61.74,Yes,3/3/2013,Electronic,36,6
2,391,2820-XGXSB,1/26/2012,9231909,7/3/2013,8/2/2013,65.88,No,7/8/2013,Electronic,5,0
3,406,9322-YCTQO,4/6/2012,9888306,2/10/2013,3/12/2013,105.92,No,3/17/2013,Electronic,35,5
4,818,6627-ELFBK,11/26/2012,15752855,10/25/2012,11/24/2012,72.27,Yes,11/28/2012,Paper,34,4

In [14]:
df.isnull().sum()

countryCode      0
customerID       0
PaperlessDate    0
invoiceNumber    0
InvoiceDate      0
DueDate          0
InvoiceAmount    0
Disputed         0
SettledDate      0
PaperlessBill    0
DaysToSettle     0
DaysLate         0
dtype: int64

In [15]:
df.dtypes

countryCode        int64
customerID        object
PaperlessDate     object
invoiceNumber      int64
InvoiceDate       object
DueDate           object
InvoiceAmount    float64
Disputed          object
SettledDate       object
PaperlessBill     object
DaysToSettle       int64
DaysLate           int64
dtype: object

In [40]:
date_cols = ["PaperlessDate", "InvoiceDate", "DueDate", "SettledDate"]
num_cols = ["countryCode", "invoiceNumber", "InvoiceAmount", "DaysToSettle", "DaysLate"]
cat_cols = ["customerID", "Disputed", "PaperlessBill"]

for c in date_cols:
    df[c] = pd.to_datetime(df[c], errors="coerce", dayfirst=False)
for c in num_cols:
    df[c] = pd.to_numeric(df[c], errors="coerce")
for c in cat_cols:
    df[c] = df[c].astype(str).str.strip()
df.isnull().sum()

countryCode      0
customerID       0
PaperlessDate    0
invoiceNumber    0
InvoiceDate      0
DueDate          0
InvoiceAmount    0
Disputed         0
SettledDate      0
PaperlessBill    0
DaysToSettle     0
DaysLate         0
dtype: int64

In [18]:
df.head()

,countryCode,customerID,PaperlessDate,invoiceNumber,InvoiceDate,DueDate,InvoiceAmount,Disputed,SettledDate,PaperlessBill,DaysToSettle,DaysLate
0,391,0379-NEVHP,2013-04-06,611365,2013-01-02,2013-02-01,55.94,No,2013-01-15,Paper,13,0
1,406,8976-AMJEO,2012-03-03,7900770,2013-01-26,2013-02-25,61.74,Yes,2013-03-03,Electronic,36,6
2,391,2820-XGXSB,2012-01-26,9231909,2013-07-03,2013-08-02,65.88,No,2013-07-08,Electronic,5,0
3,406,9322-YCTQO,2012-04-06,9888306,2013-02-10,2013-03-12,105.92,No,2013-03-17,Electronic,35,5
4,818,6627-ELFBK,2012-11-26,15752855,2012-10-25,2012-11-24,72.27,Yes,2012-11-28,Paper,34,4

In [17]:
df.isnull().sum()

countryCode      0
customerID       0
PaperlessDate    0
invoiceNumber    0
InvoiceDate      0
DueDate          0
InvoiceAmount    0
Disputed         0
SettledDate      0
PaperlessBill    0
DaysToSettle     0
DaysLate         0
dtype: int64

In [19]:
df[df.duplicated()]

Empty DataFrame
Columns: [countryCode, customerID, PaperlessDate, invoiceNumber, InvoiceDate, DueDate, InvoiceAmount, Disputed, SettledDate, PaperlessBill, DaysToSettle, DaysLate]
Index: []

In [21]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   countryCode    2466 non-null   int64
 1   customerID     2466 non-null   object
 2   PaperlessDate  2466 non-null   datetime64[ns]
 3   invoiceNumber  2466 non-null   int64
 4   InvoiceDate    2466 non-null   datetime64[ns]
 5   DueDate        2466 non-null   datetime64[ns]
 6   InvoiceAmount  2466 non-null   float64
 7   Disputed       2466 non-null   object
 8   SettledDate    2466 non-null   datetime64[ns]
 9   PaperlessBill  2466 non-null   object
 10  DaysToSettle   2466 non-null   int64
 11  DaysLate       2466 non-null   int64
dtypes: datetime64[ns](4), float64(1), int64(4), object(3)
memory usage: 231.3+ KB

countryCode      0
customerID       0
PaperlessDate    0
invoiceNumber    0
InvoiceDate      0
DueDate          0
InvoiceAmount    0
Disputed         0
SettledDate      0
PaperlessBill    0
DaysToSettle     0
DaysLate         0
dtype: int64

In [23]:
df.to_csv("/Users/elkott/factoring-risk-scorer/data/silver/invoices_silver.csv", index=False)

In [41]:
df['PaidLate'] = (df['DaysLate'] > 0).astype(int)

In [33]:
df.head()

,countryCode,customerID,PaperlessDate,invoiceNumber,InvoiceDate,DueDate,InvoiceAmount,Disputed,SettledDate,PaperlessBill,DaysToSettle,DaysLate,PaidLate
0,391,0379-NEVHP,2013-04-06,611365,2013-01-02,2013-02-01,55.94,No,2013-01-15,Paper,13,0,0
1,406,8976-AMJEO,2012-03-03,7900770,2013-01-26,2013-02-25,61.74,Yes,2013-03-03,Electronic,36,6,1
2,391,2820-XGXSB,2012-01-26,9231909,2013-07-03,2013-08-02,65.88,No,2013-07-08,Electronic,5,0,0
3,406,9322-YCTQO,2012-04-06,9888306,2013-02-10,2013-03-12,105.92,No,2013-03-17,Electronic,35,5,1
4,818,6627-ELFBK,2012-11-26,15752855,2012-10-25,2012-11-24,72.27,Yes,2012-11-28,Paper,34,4,1

In [35]:
df.to_csv("/Users/elkott/factoring-risk-scorer/data/gold/invoices_gold.csv", index=False)

In [42]:
df["PaperlessBill"] = df["PaperlessBill"].apply(lambda x: 1 if x == "Electronic" else 0)

In [45]:
df = df[["countryCode", "InvoiceAmount", "PaperlessBill", "PaidLate","DaysToSettle"]]

In [46]:
df.head()

   countryCode  InvoiceAmount  PaperlessBill  PaidLate  DaysToSettle
0          391          55.94              0         0            13
1          406          61.74              1         1            36
2          391          65.88              1         0             5
3          406         105.92              1         1            35
4          818          72.27              0         1            34

In [47]:
df.to_csv("/Users/elkott/factoring-risk-scorer/data/plat/invoices_plat.csv", index=False)